<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>user: {{user.name}}</p>
    <a href='{{url_for('logout')}}'>logout</a>
    </br>
    </br>
    </br>
<h1>{{formula.name}}</h1>
<form action= "{{url_for('viewFormula', formula_id=formula_id)}}" method = 'POST'>

    <p>Description: {{formula.description}}</p>

    <p>instructions: {{formula.instructions}}</p>

    </br>
    </br>
    <a href = '{{url_for('printFormulas')}}'> <input type = 'button' value='Back'></a>

</form>

</body>
</html>