<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <p>user: {{user.name}}</p>
    <a href='{{url_for('logout')}}'>logout</a>
    </br>
    </br>
    </br>
    <h1>Edit Chemical</h1>
    <form action="{{ url_for('editChemical', chemical_id=chemical_id)}}" method = 'post'>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


        <script type='text/javascript'>
$(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $(".upload"); //Fields wrapper
    var add_button      = $(".add_uploads_button"); //Add button ID

    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper).append('<div>Select a file: <input type="file" name="upload"> <a href="#" class="remove_field">Remove</a></div>'); //add input box
        }
    });

    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
</script>

        <p>Name: {{chemical.name}}</p>

        </br>

        <p>cas Number:</p>
        <input type = 'text' size='30' name="cas" value="{{chemical.cas}}">

        <p>Quality Insurance: </p>

        <div class="upload">
            <div>Select a file: <input type="file" name="pdf"><input type="button" class="add_uploads_button" value="+"></div>
        </div>

        </br>
        </br>

        Beyond Use: <input type="text" name="beyond_use" value="{{chemical.beyond_use}}">

        </br>
        </br>

        Storage:

        {% if chemical.storage == 'refrigerate' %}
        <input type="radio" name="storage" value="refrigerate" checked> Refrigerate
        {% else %}
        <input type="radio" name="storage" value="refrigerate" > Refrigerate
        {% endif %}

        {% if chemical.storage == 'freeze' %}
        <input type="radio" name="storage" value="freeze" checked> Freeze
        {% else %}
        <input type="radio" name="storage" value="freeze"> Freeze
        {% endif %}

        {% if chemical.storage == 'deep_freeze' %}
        <input type="radio" name="storage" value="deep_freeze" checked> Deep Freeze
        {% else %}
        <input type="radio" name="storage" value="deep_freeze"> Deep Freeze
        {% endif %}


        </br>
        </br>


        <p>Hazards:</p>
        {% if chemical.explosive %}
        <input type="checkbox" name="explosive" value="true" checked> Explosive<br>
        {% else %}
        <input type="checkbox" name="explosive" value="true"> Explosive<br>
        {% endif %}

        {% if chemical.flammable %}
        <input type="checkbox" name="flammable" value="true" checked>Flammable<br>
        {% else %}
        <input type="checkbox" name="flammable" value="true">Flammable<br>
        {% endif %}

        {% if chemical.oxidizer %}
        <input type="checkbox" name="oxidizer" value="true" checked>Oxidizer<br>
        {% else %}
        <input type="checkbox" name="oxidizer" value="true">Oxidizer<br>
        {% endif %}

        {% if chemical.corrosive %}
        <input type="checkbox" name="corrosive" value="true" checked> Corrosive<br>
        {% else %}
        <input type="checkbox" name="corrosive" value="true"> Corrosive<br>
        {% endif %}

        {% if chemical.toxic %}
        <input type="checkbox" name="toxic" value="true" checked>Toxic<br>
        {% else %}
        <input type="checkbox" name="toxic" value="true">Toxic<br>
        {% endif %}

        </br>
        </br>

        <input type = 'submit' value='Update'>
        <a href = '{{url_for('printChemicals')}}'> <input type = 'button' value='Cancel'></a>



    </form>

</body>
</html>