<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> Users </h1>

        {%with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
        {% for message in messages %}
        <li><strong>{{ message}}</strong></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    </br>

    <a href='{{url_for('newUser')}}'>Create New User</a>

    </br>
    </br>

    {% for i in users %}

    User Name:
    {{i.name}}
    </br>

    User Title:
    {{i.title}}
    </br>

    <a href='{{url_for('editUser', user_id = i.id)}}'>Edit</a>
    </br>
    <a href='{{url_for('deleteUser', user_id = i.id)}}'>Delete</a>

    </br>
    </br>

    {% endfor %}
</body>
</html>