<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>user: {{user.name}}</p>
    <a href='{{url_for('logout')}}'>logout</a>
    </br>
    </br>
    </br>
    <h1>Create a New User</h1>
    <form action="{{ url_for('newUser')}}" method = 'post'>

        <p>Name: </p>
        <input type = 'text' size='30' name='name'>

        </br>

        <p>User Name: </p>
        <input type = 'text' size='30' name='user_name'>

        </br>

        <p>Password: </p>
        <input type = 'password' size='30' name='password'>

        </br>

        <p>Title: </p>
    <select name="title">
        <option value="Manager">Manager</option>
        <option value="Technician">Technician</option>
        <option value="Tester">Tester</option>
        <option value="Quality Assurance">Quality Assurance</option>
    </select>

        </br>
        </br>



        </br>
        </br>
        <input type = 'submit' value='Create'>
        <a href = '{{url_for('printUsers')}}'> <input type = 'button' value='Cancel'></a>

    </form>

</body>
</html>