<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Create a New User</h1>
    <form action="{{ url_for('newUser')}}" method = 'post'>

        <p>Name: </p>
        <input type = 'text' size='30' name='name'>

        </br>

        <p>Title: </p>
        <input list="titles" name="title" /></label>
<datalist id="titles">
  <option value="Tester">
</datalist>

        </br>
        </br>

        <input type="checkbox" name="creation_user" value=True> give user, user creation/editing ability<br>

        </br>



        </br>
        </br>
        <input type = 'submit' value='Create'>
        <a href = '{{url_for('printUsers', restaurant_id = restaurant_id)}}'> <input type = 'button' value='Cancel'></a>

    </form>

</body>
</html>